body{
	background-image:url(https://wallpaper-house.com/data/out/9/wallpaper2you_318216.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav{
	position:fixed;
	width:100%;
	top:0;
	background-color: black;
	left:0;
	right:0;
}
nav{
	display:grid;
	border:1px #f2e377 solid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 40px;
}
nav a{
	text-decoration: none;
	text-align: center;
	color:#f2e377;
	padding-top: 5px;
	font-size: 25px;
	font-family: 'Courier',serif;
	font-weight: 540;

}
.main div{
	width:400px;
	height:600px;
}
nav a:hover{
	background-color: #2d2d2d;
}
.h1{
	height: 80vh;
	font-variant: small-caps;
	font-size: 5.5vh;
	font-weight: 500;
	display:flex;
	text-align: center;
	justify-content: center;
	color:black;
	text-shadow: 3px 3px 2px black;
	z-index: 1;
	font-family: 'optima','Garamond';
	align-items: black;
	flex-direction: column;
}
.h2{
	position: absolute;
	top:35vh;
	height:15vh;
	background-color:grey;
	opacity: 0.5;
	margin-left: -15px;
	width:75vh;
	border:1px black solid;
	z-index: -1;
}
.h3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main{
	width:80%;
	position: relative;
	left:10%;
	z-index: -1;
}

.m1{
	color:white;
	font-size: 25px;
	font-family: 'Garamond';
	padding:20px;
	background-color: black;}
img{
	width:400px;
	height:550px;
}
footer{
	width:100%;
	position: relative;
	left:0;
	bottom:0;
	background-color: black;
	color: white;
	margin: 0;
}
footer ul{
	list-style: none;
	text-align: center;
}